<%=image_tag("cover.jpg", :class => "cover")%>
<div class="backabout">
  <div class="textback">
    <h1>TI TZE YUNG</h1>Interior Designer from Malaysia.I studied at IDA Academy where we learn Interior Design.I always hope that I can live in a beautiful home.So...why dont I design the home myself!
  <div>Email:ll8317727@gmail.com</div>
  <div>  
    <a href="https://www.facebook.com/yung.t.ti" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-instagram"></a>
  </div>
  </div>
  <div class="picture">
  <%=image_tag("zac1.png", :class => "pic1", :size => "250x400")%>
  <%=image_tag("zac.png", :class => "w3-animate-fading", :size => "250x400")%>
  </div>
  </div>
<div id="portfolio">
  <div class="tile scale-anm web all">
        <%=image_tag("1.jpg", :alt => "Living Room", :id => "myImg")%>
  </div>
  <div class="tile scale-anm bcards all">
        <%=image_tag("2.jpg", :alt => "IDA", :id => "myImg")%>
  </div>
  <div class="tile scale-anm web all">
        <%=image_tag("kitchen.jpg", :alt => "IDA", :id => "myImg")%>
  </div>
  <div class="tile scale-anm web all">
        <%=image_tag("3.jpg", :alt => "IDA", :id => "myImg")%>
  </div>
  <div class="tile scale-anm flyers all">
        <%=image_tag("11.jpg", :alt => "IDA", :id => "myImg")%> 
  </div>
  <div class="tile scale-anm bcards all">
        <%=image_tag("10.jpg", :alt => "IDA", :id => "myImg")%> 
  </div>
  <div class="tile scale-anm flyers all">
        <%#=image_tag("4.jpg", :alt => "IDA")%>
  </div>
  <div class="tile scale-anm flyers all">
        <%=image_tag("4.jpg", :alt => "IDA", :id => "myImg")%>
  </div>
  <div class="tile scale-anm web all">
        <%=image_tag("5.JPG", :alt => "IDA", :id => "myImg")%>
  </div>
  <div class="tile scale-anm flyers all">
        <%=image_tag("6.jpg", :alt => "IDA", :id => "myImg")%>
  </div>
  <div class="tile scale-anm web all">
        <%=image_tag("7.jpg", :alt => "IDA", :id => "myImg")%>
  </div>
  <div class="tile scale-anm bcards all">
        <%=image_tag("8.jpg", :alt => "IDA", :id => "myImg")%>
  </div>
    <div class="tile scale-anm bcards all">
        <%=image_tag("9.jpg", :alt => "IDA", :id => "myImg")%>
  </div>
  <div class="tile scale-anm bcards all">
        <%=image_tag("12.jpg", :alt => "IDA", :id => "myImg")%>
  </div>
  <div class="tile scale-anm web all">
        <%=image_tag("13.jpg", :alt => "IDA", :id => "myImg")%>
  </div> 
  <div class="tile scale-anm web all">
        <%=image_tag("14.jpg", :alt => "IDA", :id => "myImg")%> 
  </div> 
  <div class="tile scale-anm bcards all">     
        <%=image_tag("15.jpg", :alt => "IDA", :id => "myImg")%>
  </div>
</div>

