<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<%= favicon_link_tag asset_path('me.jpg'), :rel => 'icon', :type =>  'image/png' %>
    <title>Portfolio</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="jquery.js"></script>
	<script src="imagelightbox.js"></script>
	
  </head>

  <body>
  	<div class="nav">
      <ul>
        <li class="home"><%= link_to "Portfolio" ,root_path %></li>
        <li class="tutorials"><%= link_to "Image" ,home_image_path %></a></li>
        <li class="about"><%= link_to "About" ,home_about_path %></li>
        <li class="news"><a href="#">Resume</a></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
