<!DOCTYPE html>
<html>
  <head>
	<%= favicon_link_tag asset_path('me.jpg'), :rel => 'icon', :type =>  'image/png' %>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet">
    <script src="jquery.js"></script>
	<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
